body {
  background: #F2EEE2;
}

h1 {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 72pt;
  margin-bottom: -100pt;
  color: #43C0F6;
}

p {
  font-weight: 800;
  font-style: normal;
  font-size: 84pt;
  font-family: neue-haas-grotesk-display, sans-serif;
  margin-top: 150px;
  text-align: left;
}

#first {
  color: #F81B84;
  margin-bottom: -20px;
  padding: 10px;
  background: white;
}

#second {
  color: black;
  margin-top: -20px;
  margin-bottom: -20px;
  padding: 10px;
  background: white;
}

#third {
  color: #43C0F6;
  margin-top: -20px;
  padding: 10px;
  background: white;
}

#button {
  float: right;
  margin-bottom: 400px;
  margin-top: -100px;
  font-weight: 600;
  font-style: normal;
  font-size: 54pt;
  font-family: neue-haas-grotesk-display, sans-serif;
  border: none;
  background: transparent;
  color: #F81B84;
}

#text {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 24pt;
  text-align: left;
  margin-top: -75px;
  width: 70%;
}

